<div class="container">
     <div class="row">
        <center>
        <div class="col-md-12">
            <div class="card" >
                
                <div class="card-bady col-md-12">
                    <center>
                    <form action="add" method="POST">
                        <div class="form-group col-md-12">
                            <h1><label for="">Materias</label></h1>
                        </div>
                        <br>
                        <div class="form-group"></div>
                            <input type="text" class="form-control" name="materia" id="" placeholder="Nombre de la materia">    
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block"> Agregar</button>
                        </div>
                    </form>
                    </center>
                </div>
               
            </div>
        </div>
         </center>

        <div class="col-md-8">
            <div class="card-body">
                <h1>Productos</h1>
               <table class="table table-dark">
                    <thead>
                        <tr class="table-active">
                        <th scope="col">id</th>
                        <th scope="col">materia</th>
                       
                       
                        </tr>
                    </thead>
                    <tbody>
                        {{#each product}}
                        <tr class="table-active">
                        <th scope="row">{{id_materia}}</th>
                        <td>{{materia}}</td>
                        
                        <td><a href="agregar/{{id_materia}}" class="btn btn-primary">editar</a></td>
                        <td><a href="delete/{{id_materia}}" class="btn btn-danger">eliminar</a></td>
                        
                        </tr>
                        {{/each}}
                    </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>